extends ../layout

block content
  h1= survey.title
  h3 by #{survey.email}
  .well= survey.content

  hr
  h3 질문 수정 (#{survey.numComment})
  table.table
    tr
      th 질문 제목
      th 질문 내용

  each comment in comments
    form.form-inline(action='/surveys/' + survey._id + '/cedita', method='POST')
      .form-group
        input.form-control(type='String', id='email', name='email', placeholder='질문 제목', value=comment.email)
      .form-group
        input.form-control(type='String', id='email', name='email', placeholder='질문 제목', size=50, value=comment.content)

      button.btn.btn-primary 완료
